html {
  /* Primary colours */
  --ns-yellow: #ffc917;
  --ns-blue: #003082;
  --ns-lightBlue: #0063d3;
  --ns-white: #ffffff;

  /* Shades of grey */
  --ns-gray-text: #070721;
  --ns-gray-10: #202037;
  --ns-gray-20: #39394d;
  --ns-gray-30: #515164;
  --ns-gray-40: #6a6a7a;
  --ns-gray-50: #838390;
  --ns-gray-60: #9c9ca6;
  --ns-gray-70: #b5b5bc;
  --ns-gray-80: #cdcdd3;
  --ns-gray-90: #e6e6e9;
  --ns-gray-94: #f0f0f2;

  /* Special Colours */
  --ns-error: #db0029;
  --ns-succes: #009a42;
  --ns-ov: #ff0098;
  --ns-bus: #ff7700;

  /* Link and hover colours */
  --ns-link-blue: #0079d3;
  --ns-hover-blue: #005ca0;
  --ns-hover-yellow: #ffb519;

  /* Transparency colours */
  --ns-gray-alpha-60: #070721 (60%);
  --ns-gray-alpha-15: #070721 (15%);
  --ns-gray-alpha-10: #070721 (10%);

  /* width */
  --ns-gutter: 28px;
  --ns-max-width-desktop: 1200px;

  /* font size */
  --ns-heading-xxl: 48px;
  --ns-heading-xl: 38px;
  --ns-heading-l: 30px;
  --ns-heading-m: 24px;
  --ns-heading-s: 20px;
  --ns-text-default: 16px;
  --ns-text-small: 14px;
}

@font-face {
  font-family: "inter";
  src: url(../fonts/Inter/Inter-VariableFont_opsz\wght.ttf);
}

@font-face {
  font-family: "inter";
  src: url(../fonts/Inter/Inter-Italic-VariableFont_opsz\wght.ttf);
  font-style: italic;
}

* {
  font-family: inter;
  margin: 0;
  padding: 0;
}

/* ---------------------------------------------------------------------------------------- */
/* ------------------------------------- Algemene code ------------------------------------ */
/* ---------------------------------------------------------------------------------------- */

body {
  background-color: var(--ns-gray-90);
  color: var(--ns-gray-text);
}

header {
  position: fixed;
  width: 100vw;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--ns-yellow);
}

header p {
  color: var(--ns-blue);
  font-weight: bold;
}

#sectie-start,
#formulier-1,
#formulier-2,
#formulier-3 {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 28px;
  grid-row-gap: 28px;
}

#banner {
  width: 100vw;
}

section {
  grid-column: 1/13;
  grid-row: 1/1;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 100%, 0.9) 0,
    #fff 6.5625rem,
    #fff
  );
  max-width: var(--ns-max-width-desktop);
  padding: var(--ns-gutter);
  margin-top: -212px;
  margin-bottom: var(--ns-gutter);
  box-shadow: 0 0.125rem 0 0 rgba(7, 7, 33, 0.15);
}

section img {
  margin: 0.5em 0.5em 0.5em 0;
}

#amsterdam {
  width: 56px;
}

h1 {
  color: var(--ns-blue);
  font-size: var(--ns-heading-xl);
  font-weight: 400;
  margin-bottom: var(--ns-gutter);
}

h2 {
  color: var(--ns-blue);
  font-size: var(--ns-heading-l);
  font-weight: 400;
}

#pagina-selectie {
  all: unset;
  display: flex;
  width: 30vw;
  position: relative;
  left: 13.5em;
  top: -15em;
}

#sectie-start {
  display: none;
}

#pagina-selectie {
  /* display: none; */
}

#formulier-1,
#formulier-2,
#formulier-3 {
  display: none;
}

/* -------- stukje code geschreven mbv Vasillis -------- */
#formulier-1:target,
#formulier-2:target,
#formulier-3:target {
  display: grid;
}

#pagina-selectie a[aria-current="page"] {
  background-color: var(--ns-yellow);
  font-weight: bold;
  color: var(--ns-gray-text);
}

ol {
  list-style-type: none;
  display: flex;
}

ol li a {
  background-color: var(--ns-gray-60);
  padding: var(--ns-gutter);
  margin-right: var(--ns-gutter);
  font-size: var(--ns-heading-s);
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: var(--ns-white);
}

ol li a:hover {
  background-color: var(--ns-hover-yellow);
}

ol li a:active {
  color: var(--ns-white);
}

section button {
  background-color: var(--ns-lightBlue);
  border: none;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5625rem;
  max-width: 7.5rem;
  padding: 0.625rem 1.125rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
  margin-top: var(--ns-gutter);
}

section button:hover {
  box-shadow: inset 0 -3rem 0 var(--ns-blue);
  transition: box-shadow 0.15s ease-in-out;
}

#sectie-start section {
  grid-column: 1/9;
  grid-row: 1/1;
}

#sectie-start section:nth-of-type(2) {
  grid-column: 9/13;
  grid-row: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.titel {
  display: flex;
  align-items: center;
  font-size: var(--ns-heading-l);
}

.titel span {
  background-color: var(--ns-yellow);
  padding: var(--ns-gutter);
  margin-right: var(--ns-gutter);
}

hr {
  width: 60%;
  margin: auto;
}

fieldset {
  border: none;
  margin-top: var(--ns-gutter);
}

legend {
  font-size: var(--ns-heading-s);
  font-weight: 400;
  margin-bottom: var(--ns-gutter);
}

label {
  display: inline-block;
  width: 50%;
  margin-right: var(--ns-gutter);
}

input {
  width: 50%;
  /* flex-grow: 1; */
  padding: 1em;
  border: 1px solid var(--ns-gray-20);
  border-radius: var(--ns-border-radius);
  margin-bottom: var(--ns-gutter);
}

fieldset p {
  margin: var(--ns-gutter);
  display: flex;
  align-items: center;
}

input:user-valid {
  outline: 3px solid var(--ns-succes);
}

input:user-invalid {
  outline: 3px solid var(--ns-error);
}

:focus {
  outline: 3px solid var(--ns-hover-blue);
}
