:root {
  /* Primary colours */
  --ns-yellow: #ffc917;
  --ns-blue: #003082;
  --ns-lightBlue: #0063d3;
  --ns-white: #ffffff;

  /* Shades of grey */
  --ns-gray-text: #070721;
  --ns-gray-10: #202037;
  --ns-gray-20: #39394d;
  --ns-gray-30: #515164;
  --ns-gray-40: #6a6a7a;
  --ns-gray-50: #838390;
  --ns-gray-60: #9c9ca6;
  --ns-gray-70: #b5b5bc;
  --ns-gray-80: #cdcdd3;
  --ns-gray-90: #e6e6e9;
  --ns-gray-94: #f0f0f2;

  /* Special Colours */
  --ns-error: #db0029;
  --ns-succes: #009a42;
  --ns-ov: #ff0098;
  --ns-bus: #ff7700;

  /* Link and hover colours */
  --ns-link-blue: #0079d3;
  --ns-hover-blue: #005ca0;
  --ns-hover-yellow: #ffb519;

  /* Transparency colours */
  --ns-gray-alpha-60: #070721 (60%);
  --ns-gray-alpha-15: #070721 (15%);
  --ns-gray-alpha-10: #070721 (10%);
}

@font-face {
  font-family: "inter";
  src: url(../fonts/Inter/Inter-VariableFont_opsz\wght.ttf);
}

@font-face {
  font-family: "inter";
  src: url(../fonts/Inter/Inter-Italic-VariableFont_opsz\wght.ttf);
  font-style: italic;
}

* {
  font-family: inter;
  margin: 0;
  padding: 0;
}

header {
  width: 100vw;
  height: 10vw;
  background-color: var(--ns-yellow);
}

p {
  font-size: 1em;
}
